h1 {
    font-family: 'Raleway';
    font-weight: bold;
    font-size: 1.2em;
    color: black;
}

.recherch{
    color: chartreuse;
    
}
.info{
    font-family: 'Raleway';
    font-size: 0.6em;
    color: black;
    border-radius: 10px;
}
.nom_hotel{
    font-family: 'Raleway';
    font-weight: bold;
    font-size: 0.8em;
}
.nuit{
    font-family: 'Raleway';
    font-size: 0.2em;
}
.en_tete{
    font-family: 'Raleway';
    font-weight: bold;
}
p{
    font-family: 'Raleway';
    font-size: 0.8em;
    color: black;
    border-radius: 10px;
}
#hebergement-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    /*width: 30%;*/
}
#activites-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
#populaire-container{
    display: flex;
}