h1{
    /*font-family: 'Raleway';*/
    font-weight: bold;
    font-size: 1.2em;
    color: black;
}
h2{
    /*font-family: 'Raleway';*/
    font-size: 1em;
    font-weight: bold;
}
h3{
    /*font-family: 'Raleway';*/
    font-size: 0.9em;
    font-weight: bold; 
}
h4{
    /*font-family: 'Raleway';*/
    font-size: 0.7em;
}
p{
    /*font-family: 'Raleway';*/
    font-size: 0.8em;
    color: black;
    border-radius: 10px;
}
body{
    font-family: "Raleway";
}
head{
    font-family: "Raleway";
}
.header{
    display: grid;
    align-items: center;
    max-width: 1440px;
    margin: auto;
}
.headerLogo{
    grid-area: logo;
    padding: 0 2rem;
    height: 2.813rem;
}
.headerNav{
    display: flex;
    align-items: center;
    grid-area: navbar;
}
.headerNavLien{
  padding: 2rem;
  font-weight: 500;
  text-align: center;
  transition-duration: 0.1s;
  border-top: 3px transparent solid;
  border-bottom: 3px transparent solid;
}
.headerNavLien[data-active=true]{
  color: #0065FC;
}
.headerNavLien:hover{
  color: #0065FC;
}
.headerSignup{
  display: flex;
  align-items: center;
  grid-area: button;
  padding: 2rem;
  color: #0065FC;
  font-weight: 600;
}
@media screen and (min-width: 601px) {
    .header {
      grid-template-columns: auto 1fr auto auto;
      grid-template-areas: "logo . navbar button";
    }
    .headerNavLien[data-active=true] {
      border-top: 3px solid #0065FC;
    }
    .headerNavLien:hover {
      border-top: 3px solid #0065FC;
    }
  }
@media screen and (max-width: 600px) {
    .header {
      grid-template-columns: auto 1fr auto;
      grid-template-areas: "logo . button" "navbar navbar navbar";
    }
    .headerimg {
      order: 0;
    }
    .headerSignup {
      order: 1;
    }
    .headerNav {
      order: 2;
    }
    .headerNavLien {
      border-top: none;
      border-bottom: 3px solid #F2F2F2;
      width: 50%;
    }
    .headerNavLien[data-active=true] {
      border-bottom-color: #0065FC;
    }
    .headerNavLien:hover {
      border-bottom-color: #0065FC;
    }
  }
/*nav{
    display: flex;
    align-items: center;
    grid-area: navbar;
}*/
i{
    color: #0065FC;
}
.info{
    font-family: 'Raleway';
    font-size: 0.6em;
    color: black;
    border-radius: 10px;
}
#hebergement-container{
    float: left;
    border: 2px solid black;
    background-color: #F2F2F2;
    border-radius: 15px;
    width : 50%;
}
#heberg-photo-container{
    /*border: 2px solid black;*/
    background-color: #F2F2F2;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width : 100%;
}
#aub_cannebiere, #hotel_port, #hotel_mouette, #hotel_mer, #aub_panier, #hotel_amina{
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 12px #555;
    margin-bottom: 40px;
    border: 2px solid black;
}
#photo_aub_cannebiere, #photo_hotel_port, #photo_hotel_mouette, #photo_hotel_mer, #photo_aub_panier, #photo_hotel_amina{
    border-top-left-radius : 10px;
    border-top-right-radius: 10px;
    margin-top: 3px;
    margin-left: 3px;
    margin-right: 3px;
    width: 300px;
    height: 200px;
}
aside{
    float: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 30px;
    margin-right: 90px;
    border: 20px solid #F2F2F2;
    background-color: #F2F2F2;
    border-radius: 15px;
}
#hotel_soleil_matin, #chmb_coeur_eau, #hotel_bleu_blanc{
    background-color: white;
    border-radius: 10px;
    border: 2px solid black;
}

#activites-container{
    border: 2px solid black;
    background-color: #7A9250;
}
#act-photo-container{
    border: 2px solid black;
    background-color: #5EC9AA;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
/*#activites-container {
    float: left;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 30px;
    margin-top: 20px;
    margin-left: 50px;
    border: 1px solid orange;
}*/