h1 {
    font-family: 'Raleway';
    font-weight: bold;
    font-size: 1.2em;
    color: black;
}
h2 {
    font-family: 'Raleway';
    font-size: 1em;
    font-weight: bold;
}
h3 {
    font-family: 'Raleway';
    font-size: 0.9em;
    font-weight: bold; 
}
h4 {
    font-family: 'Raleway';
    font-size: 0.7em;
}
p {
    font-family: 'Raleway';
    font-size: 0.8em;
    color: black;
    border-radius: 10px;
}
header{
    margin-right: 15px;
}
nav{
    float: right;
}
i{
    color: #0065FC;
}
.info {
    font-family: 'Raleway';
    font-size: 0.6em;
    color: black;
    border-radius: 10px;
}

#hebergement-container {
    float: left;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 40%;
    /*border: 20px solid #F2F2F2;*/
    padding: 20px;
    margin-left: 50px;
    margin-top: 20px;
    background-color: #F2F2F2;
    border-radius: 15px;
}
aside {
    float: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 30px;
    margin-right: 90px;
    /*border: 20px solid F2F2F2;*/
    background-color: #F2F2F2;
    border-radius: 15px;
}
#activites-container {
    float: left;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 30px;
    margin-left: 50px;
    border: 1px solid orange;
}
